<!DOCTYPE html>
<html>

<head>
    <title>Language School Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>📚 Language School Platform</h1>
    <p>Select your role below to begin:</p>

    <div class="dashboard">

        <div class="role-card">
            <h2>🎓 Student</h2>
            <form action="/submit-assignment" method="get">
                <button type="submit">Submit Assignment</button>
            </form>
            <form action="/submit_assignment_nosql" method="get">
                <button type="submit">Submit Assignment (NoSQL)</button>
            </form>

            <form action="/select-student" method="get">
                <button type="submit">Select Group</button>
            </form>
            <form action="/select-student-mongo" method="get">
                <button type="submit">Select Group (NoSQL)</button>
            </form>
        </div>


        <div class="role-card">
            <h2>🧑‍🏫 Mentor</h2>
            <form action="/grade-assignment" method="get">
                <button type="submit">Grade Assignments</button>
            </form>
            <form action="/grade_assignment_nosql" method="get">
                <button type="submit">Grade Assignments (NoSQL)</button>
            </form>
        </div>


        <div class="role-card">
            <h2>🗣️ Tutor</h2>
            <p>No tutor-specific features yet.</p>
        </div>


        <div class="role-card">
            <h2>👩‍💻 Developer Tools</h2>
            <form action="/generate-data" method="get">
                <button type="submit">🔄 Generate Fake Data</button>
            </form>
            <form action="/tables" method="get">
                <button type="submit">📋 View All Tables</button>
            </form>
            <form action="/migrate" method="get">
                <button type="submit">⬇️ Migrate to MongoDB</button>
            </form>
            <hr>
            <form action="/tables_mongo_courses" method="get">
                <button type="submit">⬇️ Show Tables Courses</button>
            </form>
            <form action="/tables_mongo_students" method="get">
                <button type="submit">⬇️ Show Tables Students</button>
            </form>
            <form action="/tables_mongo_employees" method="get">
                <button type="submit">⬇️ Show Tables Employees</button>
            </form>
            <hr>
            <form action="/average-age-report" method="get">
                <button type="submit">📊 Avg. Age Report (SQL)</button>
            </form>

            <form action="/graded-report" method="get">
                <button type="submit">📈 Graded Report (SQL)</button>
            </form>
            <form action="/nosql-high-performers" method="get">
                <button type="submit">📊 High Performers (NoSQL)</button>
            </form>
        </div>
    </div>

</body>

</html>