<!DOCTYPE html>
<html>

<head>
    <title>All Database Tables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Database Tables Overview</h1>
    <form action="/" method="get">
        <button type="submit" class="submit-button">Go to Home</button>
    </form>

    {% for table, content in data.items() %}
    <h2>{{ table | capitalize }}</h2>
    <table class="styled-table">
        <thead>
            <tr>
                {% for col in content.columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in content.rows %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>

</html>